@import url("https://fonts.googleapis.com/css2?family=Exo&family=Nunito:ital,wght@1,300;1,400&display=swap");

body {
    font-family: "Nunito", Arial, sans-serif;
    font-size: 16pt;
}

header, main, footer {
    max-width: 760px;
    margin: 0 auto;
}
/* comments */

header {
    background-color: aquamarine;
    padding: 1.5rem;
}


header img {
    width: 200px;
    height: auto;

}

h1 {
    font-size: 1.4rem;
    color: black;
    text-align: center;
}
footer {
    background-color: cadetblue;
    font-family: "Exo", Times New Roman, sans-serif;
    text-align: center;
    padding: 1.9em;
}