@media only screen and (min-width: 35em) {
    /*why the nromal is 35? this one was 32.5em*/
    h1{
        font-size: 2.4rem;  
    }
   nav{
       display: block;
       flex: 1 1 auto;

   }
   nav button { display: none;}
   nav ul { margin-left: 2%;}
   nav ul.hide{display: block;}

   nav ul li {
       float: left;
   }
   nav ul li a {
       flex: 1 1 auto;
       background: #EAE4E9;
       border: none;
       border-right: 1px solid rgba(0, 0, 0, 0.3);/*add a smart touch*/
       padding: .6erm 1rem;

   }
}